<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="~{layouts :: head('Reunião')}"></head>
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;
    }

    h1 {
        margin-top: 20px;
    }

    hr {
        margin-bottom: 30px;
    }

    form {
        margin: 30px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 20px;
        min-width: 300px;
    }

    h3 {
        margin-top: 20px;
    }

    h4 {
        margin: 0;
    }
</style>
<body>
<div th:replace="~{sidebar :: aside('Reunião')}"></div>
<main>
    <div class="container">
        <div>
            <h1>Reunião</h1>
        </div>
        <div class="mb-3" th:object="${reuniao}" th:if="${reuniao.status == 'PROGRAMADA'} ">
            <form style="margin-right: 10px;" th:action="@{/iniciar/{idReuniao}(idReuniao=${reuniao.id})}" method="post">
                <button type="submit" class="btn btn-primary">Iniciar reunião</button>
            </form>
        </div>
    </div>
    <!-- FORM DE PROCESSO -->
    <div class="container" th:object="${reuniao}">
        <div class="row">

            <div class="mb-3">
                <label for="data" class="form-label">Data da Reunião:</label>
                <input disabled class="form-control" type="date" id="data" th:field="*{dataReuniao}"></input>
            </div>
            <div class="mb-3">
                <label for="colegiado" class="form-label">Colegiado:</label>
                <input class="form-control" disabled type="text" id="colegiado" th:value="${reuniao.colegiado.descricao}"></input>
            </div>
        </div>
        <div>
            <h3>Pauta:</h3>
            <div class="row">
                <div th:each="processo:${reuniao.processos}" class="col-md-4 cards">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${processo.numero}?:'-'"></h5>
                            <div class="card-text">
                                <strong>Aluno:</strong> <span th:if="${processo.aluno} == null">-</span>
                                <span th:unless="${processo.aluno} == null" th:text="${processo.aluno.nome}?:'-'"></span><br>
                                <strong>Estado:</strong> <span th:text="${processo.status}?:'-'"></span><br>
                                <strong>Assunto:</strong> <span th:if="${processo.assunto} == null">-</span>
                                <span th:unless="${processo.assunto} == null" th:text="${processo.assunto.nome}"></span><br>
                                <strong>Relator:</strong> <span th:if="${processo.relator} == null">-</span>
                                <span th:unless="${processo.relator} == null" th:text="${processo.relator.nome}"></span><br>
                                <strong>Decisão Relator:</strong> <span th:if="${processo.tipoDecisao} == null">-</span>
                                <span th:unless="${processo.tipoDecisao} == null" th:text="${processo.tipoDecisao}"></span><br>
                                <hr>
                                <strong>Votação</strong>
                                <div th:object="${professor}">
                                    <div th:if="${processo.tipoDecisao == null}" class="mt-3">O relator ainda não votou nesse processo</div>
                                    <div th:if="${processo.tipoDecisao != null and professor.id == processo.relator.id}">
                                        não é possível votar no seu próprio processo
                                    </div>

                                    <div th:if="${processo.tipoDecisao != null and professor.id != processo.relator.id}">
                                        <div class="form-check mb-3 mt-3">
                                            <input class="form-check-input" type="radio" th:name="${processo.id}" th:id="${processo.id}">
                                            <label class="form-check-label" th:for="${processo.id}">
                                            Favoravel ao Relator
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" th:name="${processo.id}" th:id="${processo.id}">
                                            <label class="form-check-label"  th:for="${processo.id}">
                                            Contrário ao Relator
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <form method="post">
                    <button type="submit" class="btn btn-primary">Votar</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
