<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 20px;
        min-width: 400px;

        .card-title {
            display: flex;
            width: 100%;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;
            justify-content: center;
        }
    }
</style>
<head th:replace="~{layouts :: head('Reunião')}"></head>
<body>
<div th:replace="~{sidebar :: aside('Reunião')}"></div>
<div class="container" th:object="${reuniao}">
    <div>
        <h1>Reunião</h1>
    </div>
    <div>
        <p th:field="*{status}" th:text="${reuniao.status}"></p>
    </div>
    <div class="mb-3" th:if="${#strings.equals(reuniao.status, 'PROGRAMADA')}">
        <form th:action="@{/colegiados/reunioes/iniciar/{idReuniao}(idReuniao=${reuniao.id})}" method="post">
            <button type="submit" th:if="${reuniaoEmAndamento == false and #authorization.expression('hasRole(''ROLE_COORDENADOR'')')}" class="btn btn-primary">Iniciar reunião</button>
            
            <div th:if="${reuniaoEmAndamento == true and #authorization.expression('hasRole(''ROLE_COORDENADOR'')')}">
                <button type="submit" disabled class="btn btn-primary">Iniciar reunião</button>
                <p>Não é possível iniciar um reuniao caso outra esteja em andamento</p>
            </div>

        </form>
    </div>
    <div class="mb-3" >
        <form th:action="@{/colegiados/reunioes/encerrar/{idReuniao}(idReuniao=${reuniao.id})}" method="post">
            <button type="submit" th:if="${reuniaoPodeEncerrar and #strings.equals(reuniao.status, 'EM_ANDAMENTO') and #authorization.expression('hasRole(''ROLE_COORDENADOR'')')}" class="btn btn-primary">Finalizar reunião</button>

            <div th:if="${reuniaoPodeEncerrar == false and #authorization.expression('hasRole(''ROLE_COORDENADOR'')')}">
                <button type="submit" disabled class="btn btn-primary">Finalizar reunião</button>
                <p th:text="${mensagem}"></p>
            </div>

        </form>
    </div>
    <div th:object="${reuniao}">
        <div class="row">
    
            <div class="mb-3">
                <label for="data" class="form-label">Data da Reunião:</label>
                <input disabled class="form-control" type="date" id="data" th:field="*{dataReuniao}" style="width: 500px;"></input>
            </div>
            <div class="mb-3">
                <label for="colegiado" class="form-label">Colegiado:</label>
                <input class="form-control" disabled type="text" id="colegiado" th:value="${reuniao.colegiado.descricao}"  style="width: 500px;"></input>
            </div>
        </div>
        <div>
            <h3>Pauta:</h3>
            <div class="row">
                <div th:each="processo:${reuniao.processos}" class="col-md-4 cards">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="'#' + ${processo.numero}?:'-'"></h5>
                            <div class="card-text">
                                <strong>Aluno:</strong> <span th:if="${processo.aluno} == null">-</span>
                                <span th:unless="${processo.aluno} == null" th:text="${processo.aluno.nome}?:'-'"></span><br>
                                <strong>Estado:</strong> <span th:text="${processo.status}?:'-'"></span><br>
                                <strong>Assunto:</strong> <span th:if="${processo.assunto} == null">-</span>
                                <span th:unless="${processo.assunto} == null" th:text="${processo.assunto.nome}"></span><br>
                                <strong>Relator:</strong> <span th:if="${processo.relator} == null">-</span>
                                <span th:unless="${processo.relator} == null" th:text="${processo.relator.nome}"></span><br>
                                <strong>Decisão:</strong> <span th:if="${processo.tipoDecisao} == null">-</span>
                                <span th:unless="${processo.tipoDecisao} == null" th:text="${processo.tipoDecisao}"></span><br>
    
                                <div th:if="${reuniaoEmAndamento == true}">
                                    <hr>
                                    <strong>Votação</strong>
                                    <div th:object="${professor}">
                                        <div th:if="${processo.tipoDecisao == null}" class="mt-3">O relator ainda não votou nesse processo</div>
                                        <div th:if="${processo.tipoDecisao != null and professor.id == processo.relator.id}">
                                            não é possível votar no seu próprio processo
                                        </div>
    
                                        <div th:if="${processo.tipoDecisao != null and professor.id != processo.relator.id}">
                                            <a th:href="@{/colegiados/reunioes/{idReuniao}/processo/{idProcesso}(idReuniao=${reuniao.id},idProcesso=${processo.id})}" class="btn btn-primary">Votar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        
    </div>
</div>
</body>
</html>
