<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;

        .btn-nova-reuniao {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    }
</style>
<head th:replace="~{layouts :: head('Lista de professores')}"></head>
<body>
    <div th:replace="~{sidebar :: aside('Lista de professores')}"></div>
    <div class="container">
        <h1>Listagem de Reuniões</h1>
        <div class="btn-nova-reuniao">
            <a th:href="@{reunioes/criar}" class="btn" style="background-color: #236da3; color: #fff;">Criar Reunião</a>
        </div>

        <th:block th:if="${not #lists.isEmpty(reunioes)}">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="filterStatus">Status da Reunião</label>
                        <select class="form-select" id="filterStatus">
                            <option value="" selected>Todos</option>
                            <option value="Encerrada">Encerrada</option>
                            <option value="Programada">Programada</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="reuniao:${reunioes}" class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${reuniao.id}?:'-'"></h5>
                            <p class="card-text">
                                <strong>Data:</strong> <span th:if="${reuniao.dataReuniao} == null">-</span>
                                <span th:unless="${reuniao.dataReuniao} == null" th:text="${reuniao.dataReuniao}?:'-'"></span><br>
                                <strong>Status da Reunião:</strong> <span th:text="${reuniao.status}?:'-'"></span><br>
                                <strong>Quantidade de Processos:</strong> <span th:if="${reuniao.processos} == null">-</span>
                                <span th:unless="${reuniao.processos} == null" th:text="${reuniao.processos.size()}"></span>
                            </p>
                            <a th:href="@{reunioes/{idReuniao}(idReuniao=${reuniao.id})}" type="button" class="btn btn-primary">Consultar</a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block th:if="${#lists.isEmpty(reunioes)}">
            <p>Não há reuniões disponíveis.</p>
        </th:block>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
    <!-- FILTRO POR STATUS-->
    <script>
     $(document).ready(function () {
        $('#filterStatus').on('change', function () {
            var status = $('#filterStatus').val().toLowerCase();
            filterTable(status);
        });

        function filterTable(status) {
            var rows = $('table tbody tr');
            rows.show();

            rows.filter(function () {
                var text = $(this).text().toLowerCase();
                return (status && text.indexOf(status) === -1);
            }).hide();
        }
    });
    </script>
</body>
</html>
