<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Professores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
        .container {
            background-color: #444;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        }
        .btn-novo-aluno {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Lista de Professores</h1>
    <div class="btn-novo-aluno">
        <a th:href="@{/professor/form-professor}" class="btn btn-primary">Adicionar professor</a>
    </div>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="professor : ${professores}">
            <td th:text="${professor.id}"></td>
            <td th:text="${professor.nome}"></td>
            <td th:text="${professor.matricula}"></td>
            <td th:text="${professor.fone}"></td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/professor/{id}/editar(id=${professor.id})}" class="btn btn-warning mx-1">Editar</a>
                    <form th:action="@{/professor/{id}/delete(id=${professor.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>