<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;

        .btn-novo-processo {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }

        .filter-and-sort {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
        }
    }
</style>
<head th:replace="~{layouts :: head('Lista dos Processos')}"></head>
<body>
<div th:replace="~{sidebar :: aside('Lista dos Processos')}"></div>
<main>
    <div style="margin: 30px;">
        <h1 style="margin-top: 20px">Reuniao de</h1>
        <hr>
    </div>
    <!--FORM DE PROCESSO-->
    <form class="container" th:object="${reuniao}">
        <div class="row">
            <div class="mb-3">
                <label for="data" class="form-label">Data da Reunião:</label>
                <input disabled class="form-control" type="date" id="data" th:field="*{dataReuniao}"></input>
            </div>
        </div>
        <div>
            <h3>Pauta:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Aluno</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Assunto</th>
                        <th scope="col">Data de Criação</th>
                        <th scope="col">Relator</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="processo:${reuniao.processos}">
                        <td th:text="${processo.numero}?:'-'"></td>

                        <td th:if="${processo.aluno} == null">-</td>
                        <td th:unless="${processo.aluno} == null" th:text="${processo.aluno.nome}?:'-'"></td>

                        <td th:text="${processo.estadoProcesso}?:'-'"></td>

                        <td th:if="${processo.assunto} == null">-</td>
                        <td th:unless="${processo.assunto} == null" th:text="${processo.assunto.nome}"></td>

                        <td th:text="${processo.dataCriacao}?:'-'"></td>

                        <td th:if="${processo.relator} == null">-</td>
                        <td th:unless="${processo.relator} == null" th:text="${processo.relator.nome}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</main>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>