<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/crudStyle.css">
    <title>CRUD Processo</title>
</head>
<body>
<div id="content"></div>

<script>
    window.onload = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "defaultAdmin.html", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("content").innerHTML = xhr.responseText;
                var formProcesso = document.createElement("div");
                formProcesso.className = "container mt-5 p-4 border border-dark";
                formProcesso.innerHTML = `
                        <form style="min-width: 650px;">
                            <h1 class="h3 mb-4 fw-normal">Cadastro de Processo</h1>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingNumero" placeholder="Número">
                                <label for="floatingNumero">Número</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingDataRecepcao" placeholder="dd/mm/aaaa">
                                <label for="floatingDataRecepcao">Data de Recepção</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingDataDistribuicao" placeholder="dd/mm/aaaa">
                                <label for="floatingDataDistribuicao">Data de Distribuição</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingDataParecer" placeholder="dd/mm/aaaa">
                                <label for="floatingDataParecer">Data do Parecer</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="floatingParecer" style="height: 100px"></textarea>
                                <label for="floatingParecer">Parecer</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingDecisaoRelator" placeholder="Tipo de Decisão">
                                <label for="floatingDecisaoRelator">Decisão do Relator</label>
                            </div>
                            <button class="btn btn-primary w-100 py-2" type="submit">Salvar</button>
                        </form>
                    `;
                document.getElementById("content").appendChild(formProcesso);
            }
        };
        xhr.send();
    };
</script>
</body>
</html>
