<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/crudStyle.css">
    <title>CRUD Alunos</title>
</head>
<body>
<div id="content"></div>

<script>
    window.onload = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "defaultAdmin.html", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("content").innerHTML = xhr.responseText;
                var formAluno = document.createElement("div");
                formAluno.className = "container mt-5 p-4 border border-dark";
                formAluno.innerHTML = `
                        <form style="min-width: 650px;">
                            <h1 class="h3 mb-4 fw-normal">Cadastro de Aluno</h1>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingNome" placeholder="Fulano da Silva">
                                <label for="floatingNome">Nome</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingFone" placeholder="(00) 12345-6789">
                                <label for="floatingFone">Fone</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingMatricula" placeholder="20230001111">
                                <label for="floatingMatricula">Matrícula</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingLogin" placeholder="fulano123">
                                <label for="floatingLogin">Login</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <button class="btn btn-primary w-100 py-2" type="submit">Salvar</button>
                        </form>
                    `;
                document.getElementById("content").appendChild(formAluno);
            }
        };
        xhr.send();
    };
</script>
</body>
</html>
