<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/crudStyle.css">
    <title>Gerenciar Usuários</title>
</head>
<body>
<div id="content"></div>

<script>
    window.onload = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "defaultAdmin.html", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("content").innerHTML = xhr.responseText;
                var listaUsuarios = document.createElement("div");
                listaUsuarios.className = "container mt-5 p-4 border border-dark";
                listaUsuarios.innerHTML = `
                        <h1>Gerenciar Usuários</h1>
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Fone</th>
                                    <th scope="col">Matrícula</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aqui serão listados os usuários com opções para editar e remover -->
                                <tr>
                                    <td>Nome</td>
                                    <td>Fone</td>
                                    <td>Matrícula</td>
                                    <td>Login</td>
                                    <td>
                                        <button class="btn btn-primary">Editar</button>
                                        <button class="btn btn-danger">Remover</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    `;
                document.getElementById("content").appendChild(listaUsuarios);
            }
        };
        xhr.send();
    };
</script>
</body>
</html>
