<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bordaStyle.css">
    <title>Professores</title>
</head>

<body>
<div id="content"></div>

<script>
    window.onload = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "defaultProfessores.html", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("content").innerHTML = xhr.responseText;

                // Adicione aqui a lista de processos atribuídos ao professor
                var listaProcessosProfessor = document.createElement("div");
                listaProcessosProfessor.className = "black-border-container mt-4";
                var listaProcessosProfessorConteudo = `
                        <div class="black-border">
                            <header class="p-2 background-dark">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="mb-0" style="color: white;">Processos Atribuídos</h3>
                                </div>
                            </header>
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Número</th>
                                        <th scope="col">Requisitante</th>
                                        <th scope="col">Assunto</th>
                                        <th scope="col">Relator</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Data de Atribuição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Aqui serão listados os processos atribuídos ao professor -->
                                </tbody>
                            </table>
                        </div>
                    `;
                listaProcessosProfessor.innerHTML = listaProcessosProfessorConteudo;
                document.body.appendChild(listaProcessosProfessor);
            }
        };
        xhr.send();
    };
</script>

<!-- ... (outros scripts e links) ... -->
</body>

</html>
