<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;

        .btn-novo-assunto {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    }
</style>  
<head th:replace="~{layouts :: head('Lista dos Assuntos')}"></head>
<body>
<!-- <header th:replace="~{layouts :: header('Listagem de Assuntos')}"></header> -->

<div th:replace="~{sidebar :: aside('Lista dos Assuntos')}"></div>
<div class="container">
    <h1>Lista de Assuntos</h1>
    <div class="btn-novo-assunto">
        <a th:href="@{assuntos/criar}" class="btn" style="background-color: #236da3; color: #fff;">Adicionar assunto</a>
    </div>

    <!-- Adição do ternário para verificar se há assuntos -->
    <th:block th:if="${not #lists.isEmpty(assuntos)}">
        <table class="table table-light table-striped mt-2">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assunto : ${assuntos}">
                <td th:text="${assunto.id}"></td>
                <td th:text="${assunto.nome}"></td>
                <td>
                    <div>
                        <form th:action="@{assuntos/deletar/{id}(id=${assunto.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <!-- Mensagem quando não há assuntos -->
    <th:block th:if="${#lists.isEmpty(assuntos)}">
        <p>Não há assuntos disponíveis.</p>
    </th:block>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>