<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
  <style>
    body {
      display: flex;
      flex-direction: row;
    }

    .container {
      width: 100%;
      margin: 0;
      padding: 30px;
    }
  </style>  
  <head th:replace="~{layouts :: head('Home')}"></head>
  <body>
    <div th:replace="~{sidebar :: aside('Home')}"></div>
    <div class="container">
      <!-- Cabeçalho Informativo -->
      <header class="jumbotron text-center mt-4">
        <h1 class="display-4">Bem-vindo ao Ecollegialis</h1>
        <p class="lead">O sistema de colegiado para alunos, professores e coordenadores</p>
      </header>

      <!-- Conteúdo -->
      <section class="container mt-4">
        <h2 th:text="${titulo}"></h2>
        <p th:text="${texto}"></p>
      </section>     
    </div>
  </body>
</html>