<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;

        .btn-novo-aluno {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    }
</style>  
<head th:replace="~{layouts :: head('Lista de Alunos')}"></head>
<div th:replace="~{sidebar :: aside('Lista de Alunos')}"></div>
<body>
<div class="container">
    <h1>Lista de Alunos</h1>
    <div class="btn-novo-aluno">
        <a th:href="@{/aluno/criar}" class="btn" style="background-color: #236da3; color: #fff;">Adicionar aluno</a>
    </div>

    <th:block th:if="${not #lists.isEmpty(alunos)}">
        <table class="table table-light table-striped mt-2">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.id}"></td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.matricula}"></td>
                <td th:text="${aluno.fone}"></td>
                <td>
                    <div class="btn-group">
                        <a th:href="@{/aluno/{id}/edit(id=${aluno.id})}" class="btn btn-warning mx-1">Editar</a>
                        <form th:action="@{/aluno/{id}/delete(id=${aluno.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block th:if="${#lists.isEmpty(alunos)}">
        <p>Não há alunos disponíveis.</p>
    </th:block>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>