<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;

        .btn-novo-aluno {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    }
</style>  
<head th:replace="~{layouts :: head('Lista de Alunos')}"></head>
<body>
<div th:replace="~{sidebar :: aside('Lista de Alunos')}"></div>
<div class="container">
    <h1>Lista de Alunos</h1>
    <div class="btn-novo-aluno">
        <a th:href="@{/alunos/criar}" class="btn" style="background-color: #236da3; color: #fff;">Adicionar aluno</a>
    </div>

    <th:block th:if="${not #lists.isEmpty(alunos)}">
        <table class="table table-light table-striped mt-2">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Cursos</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aluno:${alunos}">
                <td th:text="${aluno.id}"></td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.matricula}"></td>
                <td th:text="${aluno.curso}"></td>
                <td th:text="${aluno.fone}"></td>
                <td>
                    <div class="btn-group" style="max-width: 75px">
                        <form th:action="@{alunos/{id}(id=${aluno.id})}">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                        <form style="margin-right: 10px;" th:action="@{alunos/{id}/delete(id=${aluno.id})}">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </div>                    
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block th:if="${#lists.isEmpty(alunos)}">
        <p>Não há alunos disponíveis.</p>
    </th:block>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>