<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Processo</title>
    <!-- Adicione os estilos ou links necessários, como Bootstrap, aqui -->
</head>
<head th:replace="~{layouts :: head('Processo')}"></head>
<header th:replace="~{layouts :: header('Formulário Processo')}"></header>
<body>
    <div class="container">
        <form th:object="${processo}" method="post" action="@{/salvar-processo}">
            <!-- Campos do formulário -->

            <label for="assunto-input" class="form-label">Assunto:</label>
            <select class="form-select" id="assunto" name="assunto">
              <option th:each="assunto : ${assuntos}" th:value="${assunto.id}" th:text="${assunto.nome}"></option>
            </select>
            <!-- Adicione outros campos do seu modelo aqui -->

            <button type="submit" class="btn mt-3" style="background-color: #236da3; color: #fff;">Salvar</button>
        </form>
    </div>

    <!-- Adicione os scripts necessários, como Bootstrap ou jQuery, aqui -->
</body>
</html>