<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 30px;

        .btn-novo-curso {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    }
</style>
<head th:replace="~{layouts :: head('Lista de Cursos')}"></head>

<body>
<div th:replace="~{sidebar :: aside('Lista de Cursos')}"></div>
<div class="container">
  <h1>Lista de Cursos</h1>
  <div class="btn-novo-curso">
    <a th:href="@{/cursos/criar}" class="btn" style="background-color: #236da3; color: #fff;">Adicionar curso</a>
  </div>

  <th:block th:if="${not #lists.isEmpty(cursos)}">
    <table class="table table-ligth table-striped mt-2">
      <thead>
      <tr>
        <th>ID</th>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="curso : ${cursos}">
        <td th:text="${curso.id}"></td>
        <td th:text="${curso.nome}"></td>
        <td>
          <div class="btn-group">
            <form th:action="@{/cursos/{id}/delete(id=${curso.id})}" method="post">
              <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </th:block>

  <th:block th:if="${#lists.isEmpty(curso)}">
    <div class="alert alert-info" role="alert">
      Nenhum curso <cadastrado class=""></cadastrado>
    </div>
  </th:block>
</div>